* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(142, 198, 243);

}

p {
    font-size: 19px;
}

.Eliti {
    position: absolute;
    bottom: 545px;
    text-decoration: underline;
    font-size: 23px;
}


.Eliti:hover {
  color: rgb(0, 0, 0);
}

.Titulo {   
    text-align: center;
    text-decoration: underline  ;
}

.Redes {
    font-size: 18px;
}

img {
    position: relative;
    left: 775px;
    bottom: 330px;
    border-radius: 100px;
    border:solid 3px rgb(38, 0, 255)
}

img:hover {
    border-radius: 0px ;
    transition-duration: 0.25s;
    border: solid 3px rgb(106, 0, 177);
}
