* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(110, 175, 228);

}

.Titulo {   
    text-align: center;
    text-decoration: underline  ;
}

p {
    font-size: 19px;
}

.Eliti {
    position: absolute;
    bottom: 545px;
    text-decoration: underline;
    font-size: 23px;
}

.Eliti:hover {
    transform: scale(1.02);
}

#Rede1 {
    font-size: 18px;

}
#Rede2 {
    font-size: 18px;
}

#Rede1:hover {
    opacity:0.6;
}

#Rede2:hover {
    opacity:0.6;
}

img {
    position: relative;
    left: 785px;
    bottom: 345px;
    border-radius: 100px;
    border: solid 3px rgb(38, 0, 255)
}

img:hover {
    border-radius: 0px ;
    transition-duration: 0.40s;
    border: solid 3px black 
}
